<div class="main">
  <div class="reg">
    <div class="reg-content">
      <p class="p-reg">posts</p>
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Пароль">
      <input type="password" placeholder="Повторите пароль">
      <input placeholder="Никнейм">
      <button class="btn">Зарегистрироваться</button>
      <div class="reg-content-p">
        <p class="reg-content-p-2"><span>Уже есть аккаунт?</span></p>
        <p class="reg-content-p-3"><a routerLink="/login">Войти</a></p>
      </div>
    </div>
  </div>
</div>
