<app-header></app-header>
<div class="main">
  <div class="main-info">
    <figure>
      <img src="../../../assets/cat.png" height="168px" width="168px" alt="avatar">
    </figure>
    <div class="main-info-numbers">
      <p class="main-info-numbers-name">a.x-Kit</p>
      <div class="main-info-numbers-statistics">
        <div>
          <span class="main-info-numbers-statistics-number">50</span>
          <span class="main-info-numbers-statistics-text">постов</span>
        </div>
        <div>
          <span class="main-info-numbers-statistics-number">255</span>
          <span class="main-info-numbers-statistics-text">подписчиков</span>
        </div>
        <div>
          <span class="main-info-numbers-statistics-number">255</span>
          <span class="main-info-numbers-statistics-text">подписок</span>
        </div>
        <div>
          <span class="main-info-numbers-statistics-number">42K</span>
          <span class="main-info-numbers-statistics-text">лайков</span>
        </div>
      </div>
      <div class="main-info-numbers-addContainer">
        <div class="main-info-numbers-addContainer-addPost">
          <span>+</span>
        </div>
      </div>
    </div>
  </div>
  <div class="main-posts">

  </div>
</div>
